.container {
  /* otras propiedades de estilo... */

  /* Añade tu imagen de fondo */
  background-image: url('/bgazul.jpg');

  /* Controla el tamaño de la imagen de fondo */
  background-size: cover;

  /* Controla la posición de la imagen de fondo */
  background-position: center;
}

/* Home.module.css */

@font-face {
  font-family: 'Ananda';
  src: local('Ananda');
}

.ananda {
  font-family: 'Ananda', serif;
}

.card {
  display: block;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

